# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Env
.env

# Database
*.db
db_backups/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Test
.pytest_cache/
test_ardi.db
